<div class="document-preview">
    <img src="/img/placeholder.jpg">
    <div>
        <select>
            <option>Version 5 (Current)</option>
            <option>Version 4</option>
            <option>Version 3</option>
            <option>Version 2</option>
            <option>Version 2</option>
        </select>
            <button class="btn btn-secondary">
                Download
            </button>
            <button class="btn btn-secondary">
                Delete
            </button>
    </div>
</div>