<div class="page">
  <header class="header">
    <h1>Paperless</h1>
    <app-search-bar (searchChange)="onSearch($event)"></app-search-bar>
  </header>

  <main>
    <div class="document-header">
      <h2>Dokumente</h2>
      <span>
        {{ filteredDocuments().length }}
        {{ filteredDocuments().length === 1 ? 'Dokument' : 'Dokumente' }}
      </span>
    </div>
    <div class="document-view">
      <div class="document-list">
        @for (document of filteredDocuments(); track document.id ?? $index) {
          <div class="document">
            <div class="document-info">
              <div class="document-name">
                {{ document.filename }}
              </div>
              <div class="actions">
                <button (click)="null" class="btn btn-secondary">
                  View
                </button>
                <button (click)="onEditDocument(document)" class="btn btn-secondary">
                  Edit
                </button>
                <button (click)="deleteDocument(document)" class="btn btn-secondary">
                  Delete
                </button>
              </div>
            </div>
          </div>
        }

        @if (filteredDocuments().length === 0) {
          <div class="empty">
            Keine Dokumente gefunden.
          </div>
        }@else {
          
        }
      </div>
      <div class="document-preview">
        <img src="/img/placeholder.jpg">
      </div>
    </div>
  </main>
</div>